/* FILE: global/modifiers/_decorations.scss */

// Widget title style.

	.has-widget-title-style,
	.editor-block-list__layout .has-widget-title-style {
		@include widget_title_style();
	}

// Sticky element within container.

	// This will not work if any of the parents has overflow
	// styles set. We are using `--scrollbar_width` CSS variable
	// to mitigate this problem in the theme, so it should work
	// in vast majority of cases. Unless a block parent has an
	// overflow style set, of course...
	.is-sticky-within-container {
		@include media(
			( map_get( $breakpoint, 'xl' ), 'min-width' ),
			( map_get( $breakpoint, 's' ), 'min-height' )
		) {
			position: sticky;
			top: 2em;
		}
	}

// Decorated image.

	.has-decoration,
	.page-header-content,
	.page-media .post-thumbnail,
	.summary-content .entry-title {

		&,
		img {
			position: relative;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 40%;
			height: 40%;
			background-image: radial-gradient( currentColor 3px, transparent 3px );
			background-size: 28px 28px;
			pointer-events: none;
			opacity: .66;
		}

		&::before {
			#{$left}: -15%;
			bottom: 10%;
		}

		&::after {
			#{$left}: auto; // For editor mostly.
			#{$right}: -15%;
			top: 10%;
		}

	}

	.has-decoration-container,
	.has-decoration.alignfull,
	[data-align="full"] .has-decoration {
		overflow-x: hidden;
	}
