/* FILE: global/header/_base.scss */

.site-header {
	position: relative;
	z-index: 10;

	&-section {
		padding: 1em 6vw;
		background: var(--color_header_background);
		color: var(--color_header_text);
		border-color: var(--color_header_border);
	}

	&-content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-width: 240px;
		max-width: var(--max_width_header_content);
		margin-left: auto;
		margin-right: auto;
	}

	a {
		color: var(--color_header_link);
	}

}
