/* FILE: editor-block/blocks/_letest-posts.scss */

#{ $selector_editor_wrapper } .wp-block-latest-posts {
	max-width: $max_width_entry_content;

	&.wp-block-latest-posts:not(.alignwide):not(.alignfull) {
		margin-left: auto;
		margin-right: auto;
	}

	a:not(.link-more) { // Post title.
		pointer-events: none;
	}

	.wp-block-latest-posts__post-author,
	.wp-block-latest-posts__post-date {
		order: -10;
		font-size: .8em;
		margin-bottom: 0;
	}

	.wp-block-latest-posts__post-author + .wp-block-latest-posts__post-date {
		margin-top: 0;
	}

	&__post-excerpt {

		a:last-child {
			display: none;
		}

	}

}

#{ $selector_editor_wrapper } {

	[data-align="wide"],
	[data-align="full"] {

	 .wp-block-latest-posts {
			max-width: 100%;
		}

	}

}
