/* FILE: woocommerce/page/_my-account-lost-password.scss */

.woocommerce-lost-password .woocommerce {
	max-width: var(--layout_width_entry_content);
	margin-left: auto;
	margin-right: auto;
}

.lost_reset_password {
	padding: 2em;
	border-width: 2px;
	border-style: dashed;

	.form-row-first,
	.form-row-last {
		float: none;
		width: 100%;
	}

	.clear + .form-row {
		margin: 0;
	}

	.input-text,
	.button {
		width: 100%;
	}

}
