/* FILE: woocommerce/page/_my-account-orders.scss */

.woocommerce-orders-table {

	&__cell-order-actions {

		.button {
			display: block;
			padding: 0;
			font-size: .8em;
			font-weight: 400;
			text-decoration: underline;
			background: none;
			color: var(--color_accent);
			box-shadow: none;
		}

	}

}
