/* FILE: content/loop/_list.scss */

.posts {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start; // Prevents stretching columns height.
	width: calc( 100% + var(--posts_list_gap) );
	margin: calc( var(--posts_list_gap) / 2 * -1 );

	.entry-header,
	.entry-content,
	.entry-meta {
		max-width: 400px;
		margin-#{$left}: 2rem;
		margin-#{$right}: 2rem;
	}

}
