/* FILE: widgets/_recent-posts.scss */

.widget_recent_entries {

	.entry {
		display: flex;
		align-items: center;

		&:not(:first-child) {
			margin-top: 1em;
		}

		&-date {
			display: inline-block;
			width: 3.5em;
			padding: .25em;
			margin-#{$right}: 1em;
			font-size: .8em;
			text-align: center;
			line-height: 1.25;
			border-width: 2px;
			border-style: solid;

			&-link {
				color: inherit;
			}

			span {
				display: block;
			}

			.day {
				font-weight: 700;
			}

			.month {
				font-size: .8em;
				text-transform: uppercase;
			}

		}

		&-title {
			margin: 0;
			font-size: 1em;
			font-weight: 700;

			a {
				color: inherit;
			}

		}

		&-summary {
			display: none;
			font-size: .891em;
		}

	}

	.link-more {
		padding: .5em 0 0;
		border: 0;

		&-container {
			display: none;
			margin: 0;
		}

	}

	a:not(:hover) {
		text-decoration: none;
	}

}
